
*{
	margin: 0; padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	outline: none;border: none;
	text-decoration: none;
	text-transform: capitalize;
	transition: .2s linear;
}
html{
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 6rem;
	overflow-x: hidden;
}

section{
	padding: 2rem 9%;
}
.btn{
	display: inline-block;
	margin-top: 1rem;
	border-radius: 6rem;
	background: white; 
	color: black;
	padding: 2rem 5rem;
	cursor: pointer;
	font-size: 2rem;

}
.btn:hover{
	background-color: gray;
}
header{
	position: fixed;
	top: 0;left: 0;right: 0;
	background-color: gray;
	padding: 2rem 9%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
}
.logo{
	font-size: 3rem;
	color: white;
	font-weight: bolder;
}
.navbar a{
	font-size: 2rem;
	padding: 0 1.5rem;
	color: white;
}
.navbar a:hover{
	color: red;
}
.icons a{
	font-size: 2rem;
	color: black;
	padding: 0 1.5rem;

}
.icons a:hover{
	color: red;
}
#check{
	display: none;
}
.fa-bars{
	font-size: 2rem;
	border-radius: .5rem;
	padding: .5rem 1.5rem;
	cursor: pointer;
	display: none;
}
 .main{
 	display: flex;
 	align-items: center;
 	min-height: 100vh;
 	background:url("https://images.pexels.com/photos/168927/pexels-photo-168927.jpeg?cs=srgb&dl=pexels-lanophotography-168927.jpg&fm=jpg");
 	background-size: cover;
 	background-position: ;
 }
 .content{
 	max-width: 50rem;

 }
 .content h3{
 	font-size: 6rem;
 	color: white;

 }
 .content span{
 	font-size:2rem;
 	color: gray;
 	line-height:1.5:;
 	padding: 1rem 0;

 }
 .content p{
 	font-size:2rem;
 	color: white;
 	line-height:1.5:;
 	padding: 1rem 0;
 }

 .aboutcontent{
 	color: black;
 	flex: 1 1 40rem;
 }
 .about .row{
 	display: flex;
 	align-items: center;
 	gap: 2rem;
 	flex-wrap: wrap;
 	padding: 2rem 0;
 	padding-bottom: 3rem;

 }


 .aboutcontent h3{
 	font-size: 3rem;
 }
 .aboutcontent p{
 	font-size: 1.5rem;
 	padding: 5rem 0;
 	padding-top: 1rem;
 	line-height: 1.5;
 }
 .heading{
 	text-align: center;
 	font-size: 4rem;
 	padding: 1rem;
 	margin: 2rem 0;
 	background-color: gray;

 }
 .heading span{
 	color: white;
 }
 .icons-cont{
 	background: whitesmoke;
 	display: flex;
 	flex-wrap: wrap;
 	gap: 10rem;
 	padding-top: 5rem;
 	padding-bottom: 5rem;
 	border: 1.5rem solid gray;

 }
 .icons-cont.icon{
 	padding: 2rem;
 	display: flex;
 	align-items: center;
 	flex: 1 1 25rem;

 }
/*
 .icons-cont.icon img{
 	height: 5rem;
 	margin-right: 2rem;

 }
  .icons-cont.icon h3{
  	padding-bottom: .5rem;
  	font-size: 1.5rem;
  }
   .icons-cont.icon span{
   	font-size: 1.3rem;
   }


*/
 .product{
 	text-align: center;
 	border: 1px solid gray;
 	
 }
 .product.box-cont{
 	display: flex;
 	justify-content: space-around;
 	flex-wrap: wrap;
 	gap: 1.5rem;
 }
 .product.box-cont.box{
 	flex: 1 1 30rem;
 	justify-content: center;
 	box-shadow: 0.5rem 1.5rem rgba(0, 0, 0, .1) ;
 	border-radius: 5rem;
 	border: 6rem solid rgba(0, 0, 0, .1);
 	
 }
 .icons{
 	display: inline-block;
 }


@media (max-width:991px){
	html{
		font-size: 55%;
	}
	header{
		padding: 2rem;
	}
	section{
		padding: 2rem;
	}
	.main{
		background-position: left;
	}
}
@media (max-width:730px){
	.fa-bars{
		display: block;
	}
	.navbar{
		position: absolute;
		top: 100%;left: 0;right: 0;
		background-color: black;
		clip-path: polygon(0 0,100% 0,100% 0,0 0);
	}

	#check:checked ~ .navbar{
		clip-path:polygon(0 0,100% 0,100% 100%,0% 100%);
	}
	.navbar a{
		margin: 1.5rem;
		padding: 1.5rem;
		background-color:gray;
		display: block;
	}
	.main .content h3{
		font-size: 5rem;
	}
	.main .content span{
		font-size: 2.5rem;
	}
	/*
	.icons-cont.icon h3{
		font-size: 1.5rem;

	}
	.icons-cont.icon span{
		font-size: 1.3rem;
	}
	*/



}

@media (max-width:450px){
	html{
		font-size: 50%;
	}
	heading{
		font-size: 3rem;
	}


}

